
<script>
  addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
</script>
<link rel="stylesheet" href="/assets/font-awesome.min2.css" />
<link href="/assets/style.css" rel='stylesheet' type='text/css' media="all">
<link href="/assets/fonts.googleapis.com/css?family=Barlow:300,400,500" rel="stylesheet">
<script src="/assets/Signup.js"></script>

<h1 class="header-w3ls">
    Welcome</h1>
    <div class="art-bothside" style="width:40%;" >
      <div class="Up-sign-form text-center" >
        <h2> SIGN UP</h2>
      </div>
      <div class="mid-cls" >
        
            <div class="line-mid">
            
        </div>
      </div>  
    <div class="art-right-w3ls", style= "text-align:left">
        
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="field form-left-w3l">
          <%= f.label :email, :class=> "clear", :name=>"email", :placeholder=>"Email", :type=>"text" %><br />
          <%= f.email_field :email,  :style=> 'height: 35px', :autofocus=> "true", :autocomplete=> "email" %>
        </div>
        <div class="field form-left-w3l">
          <%= f.label "First Name", :class=>"clear"%><br />
          <%= f.text_field :fname, :style=> 'height: 35px', autofocus: "true", autocomplete: "First name" %>
        </div>

        <div class="field form-left-w3l">
          <%= f.label :lname, :class=>"clear" %><br />
          <%= f.text_field :lname, :style=> 'height: 35px', autofocus: "true", autocomplete: "Last name" %>
        </div>

        <div class="field form-left-w3l">
          <%= f.label :age, :class=>"clear"%><br />
          <%= f.number_field :age, :style=> 'height: 35px', autofocus: "true", autocomplete: "Age" %>
        </div>
        
        <div class="field form-right-w3ls">
          <%= f.label :password %>
          <div class="clear">
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, :style=> 'height: 35px', :autocomplete=> "new-password" %>
          </div>
        </div>

        <div class="field form-right-w3ls ">
          <%= f.label :password_confirmation %><br />

          <%= f.password_field :password_confirmation, :style=> 'height: 35px', :autocomplete=> "new-password" %>
        </div>
        <div class="field form-left-w3l">
          <%= f.label :credit_card,:class=>"clear" %><br />
          <%= f.number_field :credit_card, :style=> 'height: 35px', autofocus: "true" %>
        </div>
        <div class="field form-left-w3l">
          <%= f.label :cvv, :class=>"clear"%><br />
          <%= f.number_field :cvv, :style=> 'height: 35px', autofocus: "true" %>
        </div>
        <div class="field form-left-w3l">
          <%= f.label :expiration, :class=>"clear" %><br />
          <%= f.text_field :expiration, :style=> 'height: 35px', :placeholder=>"MM/YY", :type=>"text", autofocus: "true" %>
        </div>
        <div class="field form-left-w3l">
          <%= f.label :address, :class=>"clear" %><br />
          <%= f.text_field :address, :style=> 'height: 35px', autofocus: "true" %>
        </div>

        <div class="actions btnn">
          <%= f.submit "Sign up", :class=> "clear"%>
        </div> 
      <% end %>
    <div style="text-align:left"> <br />
     <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
</div>


