<div style="background-image: url('/assets/h8.jpg');  background-size: cover; background-repeat: no-repeat; height:100%; " >
<link href="assets/home/medile.css" rel="stylesheet" type="text/css" media="all" />

<p style="font-size:25px;"><b>Order Summary</b></p>
<div style="border:1px solid black">
  <p style="font-size:15px;"><b>Movie Title: </b><a href="url"><%=@movie %></a></p>
  <p style="font-size:15px"><b>Hall Location: </b><%= params[:show_hall]%></p>
  <p style="font-size:15px"><b>Time: </b><%=params[:show_time]%></p>
</div>

<br>
<p style="font-size:25px;"><b>Order Successful</b></p>
<div style="border:1px solid black">
        <p style="font-size:40px;"><b>Thank you for your order</b></p>
  <p style="font-size:15px"><b>Order Number: <%= @order.id%> </b></p>
  <p style="font-size:15px">Check your email for confirmation</p>
  </style>
</div>
<%= link_to "Back", root_path %> 
</div>
