<h1>Checkout#index</h1>

<!-- //custom-theme -->
<link href="/assets/check/style1.css" rel="stylesheet" type="text/css" media="all" />

<link href="//fonts.googleapis.com/css?family=Overpass:100,100i,200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">

<div class="main">	
	
	<div class="w3_agile_main_grids">
		<div class="agile_main_top_grid">
			<div class="agileits_w3layouts_main_top_grid_left">
	
				<h3>Checkout</h3>
			</div>
			<div class="w3_agileits_main_top_grid_right">
				
			</div>
			<div class="clear"> </div>
			<div class="wthree_total">
				<!-- @final_price = (@number_of_seats * @price) - discount -->
				<h2>total to pay <span><%= @final_price%><i>$</i></span></h2>
			</div>
		</div>
		<div class="agileinfo_main_bottom_grid">
			<div id="horizontalTab">
				<ul class="resp-tabs-list">
					<li><img src="/assets/visa.jpg" alt=" " /></li>
				</ul>
				<div class="resp-tabs-container">
					<div class="agileits_w3layouts_tab1">
						<%= form_tag after_checkout_path, id: "after_check", method: :get do%>	
							<section class="creditly-wrapper wthree, w3_agileits_wrapper">
								<div class="credit-card-wrapper">
									<div class="first-row form-group">
										<div class="controls">
											<label class="control-label">Name on Card</label>
											<%= text_field_tag 'username', @name, id: "Username", :class => "billing-address-name form-control" %>
										</div>
										<div class="controls">
											<label class="control-label">Billing Address</label>
											<%= text_field_tag 'address', current_user.address, id: "Username", :class => "billing-address-name form-control" %>
										</div>
										<%= hidden_field_tag :seats, @seats %>
										<%= hidden_field_tag :show_time, @time %>
										<%= hidden_field_tag :show_hall, @hall %>
										<%= hidden_field_tag :movie_name, @movie_name %>
										<%= hidden_field_tag :show_id, @show_id %>
										<div class="w3_agileits_card_number_grids">
											<div class="w3_agileits_card_number_grid_left">
												<div class="controls">
													<label class="control-label">Card Number</label>
													<!-- <input class="number credit-card-number form-control" type="text" name="number"
																  inputmode="numeric" autocomplete="cc-number" autocompletetype="cc-number" x-autocompletetype="cc-number"
																  placeholder="&#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149;"> -->
																  <%= text_field_tag 'card', current_user.credit_card, id: "card", :class => "number credit-card-number form-control", :placeholder=> "Card Details", :required => true %> </br>
												</div> 
											</div>
											<div class="w3_agileits_card_number_grid_right">
												<div class="controls">
													<label class="control-label">CVV</label>
													<!-- <input class="security-code form-control"Â·
																  inputmode="numeric"
																  type="text" name="security-code"
																  placeholder="&#149;&#149;&#149;"> -->
													<%= text_field_tag 'cvv', current_user.cvv, id: "cvv", :class => "security-code form-control", :placeholder=> "CVV", :required => true %></br>			  
												</div>
											</div>
											<div class="clear"> </div>
										</div>
										<div class="controls">
											<label class="control-label">Expiration Date</label>
											<!-- <input class="expiration-month-and-year form-control" type="text" name="expiration-month-and-year" placeholder="MM / YY"> -->
											<%= text_field_tag 'expire', current_user.expiration, id: "expire", :class => "expiration-month-and-year form-control", :placeholder=> "MM / YY", :required => true %>
										</div>
									</div>
									<%= submit_tag "Make a payment", :class => "submit" %>
									<!-- <button class="submit"><span>Make a payment</span></button> -->
								</div>
							</section>
						<% end %>
						<div class="controls">
											<label class="control-label">Coupon</label>
											<%= form_tag coupon_code_path, method: :get do%>
												<%= text_field_tag 'coupon', "", id: "coupon", :class => "billing-address-name form-control", :placeholder=> "Enter Coupon Code" %>
												<%= hidden_field_tag :movie_name, @movie_name %>
												<%= hidden_field_tag :seats, @seats %>
												<%= hidden_field_tag :show_time, @time %>
												<%= hidden_field_tag :show_hall, @hall %>
												<%= hidden_field_tag :name, @name %>
												<%= hidden_field_tag :number_seats, @number_of_seats %>
												<%= hidden_field_tag :show_id, @show_id %>
										    <%= submit_tag "Go" %>
										  <% end%>  
									</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
		<!-- <script type="text/javascript" src="js/creditly.js"></script> -->
		<script type="text/javascript">
			$(function() {
			  var creditly = Creditly.initialize(
				  '.creditly-wrapper .expiration-month-and-year',
				  '.creditly-wrapper .credit-card-number',
				  '.creditly-wrapper .security-code',
				  '.creditly-wrapper .card-type');

			  $(".creditly-card-form .submit").click(function(e) {
				e.preventDefault();
				var output = creditly.validate();
				if (output) {
				  // Your validated credit card output
				  console.log(output);
				}
			  });
			});
		</script>
	<!-- //credit-card -->
	<!-- tabs -->
	<!-- <script src="js/easy-responsive-tabs.js"></script> -->
	<script>
		$(document).ready(function () {

			$("#after_check").validate({
				debug: true,
				rules: {
					“card“: {required: true},
					“cvv“: {required: true},
					“expire“: {required: true},
					“expire“: {required: true}
				}
			});
			$( ".submit" ).click(function() {
				
				var name = $("#Username").val();
				var card = $("#card").val();
				var cvv = $("#cvv").val();
				var expire = $("#expire").val();
				var seats = $("#seats").val();
				var hall = $("#show_hall").val();
				var time = $("#show_time").val();
				var movie = $("#movie_name").val();
				var show_id = $("#show_id").val();

        location.href = "/after_checkout?name="+name+"&seats="+seats+"&hall="+hall+"&time="+time+"&movie="+movie+"&show_id="+show_id;
			});

			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion           
				width: 'auto', //auto or any width like 600px
				fit: true,   // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				activate: function(event) { // Callback function if tab is switched
				var $tab = $(this);
				var $info = $('#tabInfo');
				var $name = $('span', $info);
				$name.text($tab.text());
				$info.show();
				}
			});
		});
	</script>